In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv("All Months-Days Worked Data.csv")
file_path = "../Childrens Results/Results By Year/20230824- Children Database  - English Main.xlsx"
sheet_name = "Children Results "
children = pd.read_excel(file_path, sheet_name=sheet_name)
youth = pd.read_csv("20230905 - Combined Youth Data.csv")
youth_hours = pd.read_csv("2023 Youth Hours & Days-Days Worked Data.csv")
youth_stipends = pd.read_csv("2023 Youth Stipends-Stipends Main Data.csv")
session_tracker = pd.read_excel("20230905 - Online Session Tracker w IDs.xlsx", sheet_name="Sheet1")

/Users/jimmckeown/anaconda3/lib/python3.11/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [13]:
session_tracker.columns

Index(['Mcode', 'School', 'City', 'Mentor', 'Grade', 'On the Programme',
       'Surname', 'Name', 'LC Name', 'Employee ID', 'Start Date',
       'Total Sessions', 'Jan - March Total Sessions', 'Jan - March Level',
       'April Total Sessions', 'April Level', 'May Total Sessions',
       'May Level', 'June Total Sessions', 'June level', 'July Total Sessions',
       'July Level', 'August Total Sessions', 'August Level',
       'September Total Sessions', 'September Level', 'October Total Sessions',
       'October Level', 'November Total Sessions', 'November Level'],
      dtype='object')

In [11]:
# Calculate 'Total - Hours', 'Total - Days', and 'Total - Stipend' columns
youth_hours['Total - Hours'] = youth_hours[['March - Hours', 'April - Hours', 'May - Hours', 'June - Hours', 'July - Hours']].sum(axis=1)
youth_hours['Total - Days'] = youth_hours[['March - Days', 'April - Days', 'May - Days', 'June - Days', 'July - Days']].sum(axis=1)
youth_hours['Total - Stipend'] = youth_hours[['March - Stipend', 'April - Stipend', 'May - Stipend', 'June - Stipend', 'July - Stipend']].sum(axis=1)

#### Create LC Sessions Database

In [17]:
### The session tracker has the LC repeated many times as it's sessions per child. So here, I'm creating a df that has one record per each LC w/ total session columns per month.
lc_sessions = session_tracker.groupby('Employee ID').agg({
    'Total Sessions': 'sum',
    'Jan - March Total Sessions': 'sum',
    'April Total Sessions': 'sum',
    'May Total Sessions': 'sum',
    'June Total Sessions': 'sum',
    'July Total Sessions': 'sum',
    'August Total Sessions': 'sum'
}).reset_index()
lc_sessions.head()

,Employee ID,Total Sessions,Jan - March Total Sessions,April Total Sessions,May Total Sessions,June Total Sessions,July Total Sessions,August Total Sessions
0,213,226.0,40.0,44.0,56.0,41.0,2.0,43.0
1,425,92.0,0.0,32.0,92.0,85.0,104.0,0.0
2,427,0.0,199.0,83.0,188.0,84.0,72.0,0.0
3,429,0.0,17.0,37.0,97.0,67.0,79.0,0.0
4,430,397.0,146.0,36.0,104.0,58.0,53.0,0.0